body {
  background-color: #1C1C1C;
  color: #777777;
  font-family: arial;
}

.grid-container {
  display: grid;
  margin: 0 5%;
  grid-template-columns: 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "column-left column-right"
    "buttons-row buttons-row";
}

.new-container {
  position: relative;
  display: block;
  color: #fff;
  margin: 50px 5%;
}

.header {
  grid-area: header;
  margin-bottom: 25px;
}

.column-left {
  grid-area: column-left;
  max-width: 50vw;
}

.column-right {
  grid-area: column-right;
  max-width: 50vw;
}

.buttons-row {
  grid-area: buttons-row;
  margin-top: 2em;
  display: flex;
}

.buttons-group {
  flex: 1;
  display: flex;
  justify-content: center;
}

.buttons-group:first-child > div { margin-right: auto; }

.buttons-group:last-child  > div { margin-left: auto;  }

.center-left-btn-grp {
  margin-right: 120px;
}

.buttons-group img {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

.btn {
  background: #1C1C1C;
  background-color: #1C1C1C;
  border-radius:5px;
  border: 1px solid #777;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding:11px 23px;
  text-decoration: none;
  margin: 1px;
}

.btn:hover {
  background-color: #2C2C2C;
}

.btn:active {
  position:relative;
  top:1px;
}

input[type="email"], input[type="text"], input[type="submit"] {
  display: inline-block;
  padding: 11px 23px;
  width: 100%;
}

input[type="text"], input[type="submit"]:hover {
  background-color: rgb(219, 219, 219);
}

input[type="text"], input[type="submit"]:active {
  position:relative;
  top:1px;
}

#swap-icon {
  filter: invert(100%);
}

.CodeMirror {
  height: 40em;
  border: 1px solid #777;
  font-size: 12px;
}

li + li {
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  #mc_embed_signup {
    max-width: none;
  }
  .grid-container {
    display: block;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas: none;
  }
  .column-left, .column-right {
    max-width: 100%;
  }
  .CodeMirror {
    margin-top: 25px;
  }
  .center-left-btn-grp {
    margin-right: 0;
  }
}