.grid-container {
  display: grid;
  margin: 0 10%;
  grid-template-columns: 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "column-left column-right"
    "buttons-row buttons-row";
}

.header {
  grid-area: header;
}

.column-left {
  grid-area: column-left;
  max-width: 40vw;
}

.column-right {
  grid-area: column-right;
  max-width: 40vw;
}

.buttons-row {
  grid-area: buttons-row;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #1C1C1C;
  color: #777777;
  font-family: arial;
}

div.buttons-row .btn {
  background: #1C1C1C;
  background-color: #1C1C1C;
  border-radius:5px;
  border: 1px solid #777;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding:11px 23px;
  text-decoration: none;
}

div.buttons-row .btn:hover {
  background-color: #2C2C2C;
}

div.buttons-row .btn:active {
  position:relative;
  top:1px;
}

.buttons-row a.language {
  width: 5em;
  text-align: center;
  padding: 11px 11px;
}

.buttons-row a.translate {
  margin: 0px 20px;
}

#swap-icon {
  filter: invert(100%);
}

.buttons-group img {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

.CodeMirror {
  height: 47em;
  border: 1px solid #777;
}
