.grid-container {
  display: grid;
  margin: 0 10%;
  grid-template-columns: 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "column-left column-right";
}

.header {
  grid-area: header;
}

.column-left {
  grid-area: column-left;
  max-width: 40vw;
}

.column-right {
  grid-area: column-right;
  max-width: 40vw;
}

.buttons-row {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

body {
  background-color: #1C1C1C;
  color: #777777;
}
